html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#login {
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}
#login .overly {
  position: absolute;
  top: 0;
  background-color: #00000059;
  width: 100%;
  height: 100%;
}
.form-container {
  background-color: #fff;
  max-width: 50%;
  margin: 8rem auto;
}

.rules-container {
  padding: 1rem 2rem 2rem 2rem;
  background-color: #fff;
  max-width: 98%;
  margin: 5rem auto;
}
.examDiv {
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.nav-tabs .nav-link {
  padding: 0.7rem;
  width: 50%;
  text-align: center;
  width: 50%;
  text-align: center;
  background-color: #1f325c;
  color: #fff;
  border-radius: 0;
  font-size: 1.2rem;
}

.tab-content {
  padding: 0.4rem;
}
.nav-tabs .nav-link:hover {
  border: none;
}

.btn-blue {
  background-color: #1f325c;
  color: #fff;
  font-size: 1.2rem;
}

.text-orange {
  color: #ec9926;
}

.btn-orange {
  background-color: #ec9926;
  color: #fff;
  font-size: 1.2rem;
}

.btn-blue:hover {
  background-color: #fdb24a;
  border-color: #fdb24a;
  color: #fff;
}
.btn-orange:hover {
  background-color: #fdb24a;
  color: #fff;
}

.form-title {
  color: #1f325c;
  margin: 0.6rem auto;
}

.hidden {
  display: none;
}

.pagination {
  display: inline-block;
  text-align: center;
  box-shadow: 0px 0px 10px;
  margin: auto;
}
.center-pagination {
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: rgb(59, 122, 173);
  color: white;
  border: 1px solid rgb(35, 82, 121);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.question-div {
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem 1rem;
  opacity: 0.8;
}

/* ul {
  margin-top: 2rem;
  list-style: none;
} */
/* li {
  margin-bottom: 4rem;
  line-height: 16px;
} */

/* Teacher */
.navbar {
  padding: 0 1rem;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bolder;
}

nav.bg-dark {
  background-color: #1f325c !important;
}

#my-nav .nav-item {
  padding: 0.5rem 0.2rem 0.2rem 0.2rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.nav-link.active,
.nav-link:hover {
  background-color: #ec9926;
}

thead {
  color: #fff;
  background: #1f325c;
}
.table thead th {
  border: none;
}

table.table {
  box-shadow: -2px 4px 6px -4px rgba(0, 0, 0, 0.75);
}

.action {
  color: rgb(79, 107, 158);
  border: 1px solid;
  border-radius: 1rem;
  width: 2rem;
  padding: 3px 10px;
  margin-right: 7px;
}

.action:hover {
  text-decoration: none;
  color: #ec9926;
}

.exam-card {
  box-shadow: -2px 4px 6px -4px rgba(0, 0, 0, 0.75);
}

.exam-card .heading {
  color: #fff;
  background: #1f325c;
  text-align: center;
  padding: 1rem;
}

.exam-card .body {
  padding: 1rem;
}

.exam-key span {
  background-color: #dfdfdf;
  padding: 7px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
